*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: antiquewhite;
}
h1, h2, h3, h4, h5, h6 {
    color: #4e0b0b;
}

p,label {
    color: #630606;
}

input{
    border: none;
    border-bottom: 1px solid rgb(109, 19, 37);
    padding: 10px 0;
}

input[type="text"], input[type="numeber"], input[type="date"], input[type="file"], textarea {
   width: 400px;
}

textarea {
    padding: 10px 5px;
}

.cabecalho {
    height: 160px;
    padding: 20px;
    background-color: rgb(223, 147, 238);
}

.cabecalho h3 {
    color: rgb(192, 192, 248);
    margin-top: 0;
}

.form-container {
    background-color: rgb(239, 209, 241);
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -46px;
}

.form-header {
    border-bottom: 1px solid rgb(136, 158, 180);
    height: 45px;
}

.form-header p{
    color:rgb(243, 158, 148);
    border-bottom: 2px solid rgb(129, 124, 158);
    width: 100%;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 45px;
    list-style: 45px;
}

.form-body{
    padding: 30px;
}

.titulo-form {
    margin-bottom: 15px;
}

.form-body p{
    margin-bottom: 20px;
}

.campo-obrigatorio {
    color:crimson;
}

.caixaInpusts {
    margin-bottom: 35px;
}

.block {
    display: block;
}

.caixaOpcional {
    display: inline-block;
    margin: 0 30px o 30px;
}

.btn-submit {
    background-color: rgb(189, 142, 233);
    color: rgb(250, 215, 239);
    border: 2px solid transparent;
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn-submit:hover {
    background-color: rgb(250, 215, 245);
    color: rgb(208, 169, 245);
    border-color: rgb(213, 168, 255);
}