*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: antiquewhite;
}
h1, h2, h3, h4, h5, h6 {
    color: #4e0b0b;
}

p,label {
    color: #630606;
}

input{
    border: none;
    border-bottom: 1px solid rgb(109, 19, 37);
    padding: 10px 0;
}
.cabecalho {
    height: 160px;
    padding: 20px;
    background-color: blueviolet;
}
